.app-bar {
  background-color: brown;
  padding: 1.5%;
  width: 100%;

  position: fixed;

  display: flex;
  flex-direction: row;
  /* main axis alignment */
  justify-content: space-evenly;
  /* cross axis alignment */
  align-items: center;

  color: white;
}

.cart-button:hover {
  background-color: rgb(138, 34, 34);
}

.cart-button {
  background-color: #654321;
  padding: 0.5%;
  width: 13%;
  border-radius: 20px;

  color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.cart-button-counter {
  background-color: brown;
  padding: 0.5%;
  padding-left: 8%;
  padding-right: 8%;
  border-radius: 20px;
}

.spacer {
  width: 30%;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.icon-style {
  font-size: 1.25rem;
}

.price-and-amount-dialog-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.spacer-price-and-amount-dialog-row {
  width: 10px;
}

.dialog-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.spacer-dialog-item {
  width: 100px;
}

.remove-cart-item-button {
  outline: 1px solid red;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  border-radius: 10px;

  font-weight: bold;
  color: red;
}

.remove-cart-item-button:hover {
  color: rgb(138, 34, 34);
  outline: 1px solid rgb(138, 34, 34);
}

/* incase of small devices */
@media only screen and (max-width: 750px) {
  .cart-button {
    padding: 2%;
  }
}
