.spacer-amount {
  width: 10px;
}

.menu-list {
  background-color: white;

  padding: 1.5%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 2%;
  border-radius: 20px;
}

.menu-item-side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.right-side {
  align-items: center;
}

.left-side {
  align-items: flex-start;
}

.menu-item {
  color: black;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.title-and-price {
  font-weight: bold;
  font-size: 1.125rem;
}

.title-menu-item {
  color: black;
}

.price {
  color: brown;
}

.amount-and-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.amount {
  font-weight: bold;
}

.input {
  width: 40px;

  border-radius: 3px;

  text-align: center;
}

.add-button {
  background-color: brown;
  border-radius: 20px;
  color: white;

  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 15px;
  padding-right: 15px;

  margin: 10px;
}

.add-button:hover {
  background-color: rgb(138, 34, 34);
}
